.detailsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: 80%;
}

.movieImage{
    border-radius: 15px;
}

.movieDetails{
    font-size: 1.5rem;
    color: #fff;
}
.firstItem{
    margin-top: 0;
}
@media(max-width:560px){
    .movieImage{
        width:  95%
    }
    .movieDetails{
        font-size: 1.2rem;
    }
}