.movieCard{
    font-size: 1.5rem;
    list-style: none;
}
.movieImage{
    border-radius: 10px;
    background-color: azure;
    cursor: pointer;
}

.movieCard:hover{
    opacity:0.8
}

@media (max-width:560px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}