.moviesGrid{
    display: grid;
    grid-template-columns:repeat(auto-fill,250px);
    grid-gap: 20px;
    padding: 20px;

    justify-content: center;
    text-align: center;
}

@media (max-width:560px){
    .moviesGrid{
        grid-template-columns: 100%;
    }
}